@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 40px;
    width: 100%;
    margin: auto;
}

header .header-nav ul{
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
header .header-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
}
header .header-nav ul li .selected{
    color: inherit
}
header .header-nav .icons ul li a img {
    align-self: center;
    width: 20px;
    height: auto;
}
header .header-nav .icons ul li a .user{
        width: 17px;
}

header .header-nav .search-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .header-nav .search-bar input[type="text"]{
    height: 56px;
    min-width: 372px;
    background-image: url("../assets/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    outline: none;
    border: 0px solid !important;
    background-color: #F5F5F5;
    border-radius: 8px;
}

header .header{
    width: 100%;
    min-height: 672px;
    /* position: relative; */
    background-image: linear-gradient(to bottom right, #211C24, #211C24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header .header .product-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

header .header .product-content span, p{
    color: #ffffff93;
    font-size: 20px;
    font-weight: 500;
}
header .header .product-content h1{
    color: white;
    font-size: 96px;
    font-weight: 100;
}

header .header .product-image{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    flex-wrap: wrap;
}
header .header .product-image img{
    /* height: 632px; */
    width: clamp(100%, 100%, 400px);
}

section{
    display: flex;
    justify-content: start;
    align-items: stretch;
    min-width: 600px;
    width: 100%;
    padding: 0;
    margin: 0;
}

section .content{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
section .txt{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;
}
section .banner img{
    width: 360px;
}
section .banner h1{
    color: #000;
    font-size: 49px;
    font-weight: 400;
}
section .banner p{
    color: #909090;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: space-between; */
    
}
.banner .wide{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.left-banner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 49%;
}

.big-banner {
  flex: 1;
  display: flex;
  align-items: center; 
  justify-content: center;

}

.big-banner .txt{
    text-align: left;
    max-width: 500px;
    margin: auto;
    width: 100%;
}
.big-banner h1{
    font-size: 64px;
    font-weight: 100;
    color: #000;
}
.big-banner p{
    color: #606060;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.cat{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cat .cat-row{
    width: 80%;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cat .cat-row .sliding{
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cat .cat-row .sliding img{
    text-decoration: none;
    color: black;
    margin: auto;
    cursor: pointer;
}

.cat-row .cat-card{
    display: flex;
    min-width: 160px;
    min-height: 128px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #EDEDED;
    border-radius: 15px;

}

.cat-row .cat-card a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.products{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.products .products-nav{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.products .products-nav li a{
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 500;
}
.products .products-nav .selected a{
    color: black;
    border-bottom: solid 2px black;
}

.products .products-view {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.products .products-view .card{
    width: 269px;
    min-height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: #EDEDED;
    border-radius: 15px;
}

.products .products-view .card h3{
    font-weight: 500;
    color: black;
    font-size: 18px;
    text-align: center;
}
.products .products-view .card p{
    font-weight: bolder;
    color: #000;
    font-size: 24px;
}

.products .products-view .card .btn-black{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.products .products-view .card .like{
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    align-self: flex-end;
}

.pro-products{
    margin-top: 50px;
    display: flex;
    width: 99%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.pro-products .pro-card{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 640px;
    align-items: flex-start;
    justify-content: center;
    padding: 17px;
    gap: 30px;
}

.pro-products .pro-card img{
    width: 80%;
    height: auto;
    align-self: center;
}

.pro-products .pro-card h3{
    font-weight: 300;
    font-size: 33px;
}

.pro-products .pro-card p{
    color: #909090;
    font-size: 14px;
    width: 296px;
    /* text-align: center; */
}

.pro-products .pro-card .btn{
    color: black;
    border-color: black;
    width: 80%;
    margin-right: auto;
}
.summer{
    margin-top: 50px;
    width: 100%;
    /* background-image: url("../assets/summer.png"); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.summer a img{
    width: 100%;
    height: auto;
}



/* Extra small (xs) - أقل من 576px */
@media (max-width: 575.98px) {
  .disable-xs { display: none; }
  header .header{
    display: grid;
    grid-row: auto;
    grid-column: 0;
    /* width: 100vw; */
    min-width: 127%;
  }
    .fkn-banners{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

    }
    .fkn-banners .wide{
        width: 150%;
    }
    .wide{
        flex-wrap: wrap;
    }
    .big-banner{
        flex-wrap: wrap;
        width: 99%;
    }
    .big-banner img{
        background-image: url('./assets/Macbook 1.png');
    }
}

/* Small (sm) - من 576px لحد أقل من 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .disable-sm { display: none; }
  header .header{
    display: grid;
    grid-row: auto;
    grid-column: 0;
    /* width: 100vw; */
    min-width: 127%;
  }
    .fkn-banners{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

    }
    .fkn-banners .wide{
        width: 150%;
    }
    .wide{
        flex-wrap: wrap;
    }
    .big-banner{
        flex-wrap: wrap;
        width: 99%;
    }
    .big-banner img{
        background-image: url('./assets/Macbook 1.png');
    }
}
/* Medium (md) - من 768px لحد أقل من 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .disable-md { display: none; }
  header .header{
    display: grid;
    grid-row: auto;
    grid-column: 0;
    /* width: 100vw; */
    min-width: 127%;
  }
    .fkn-banners{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

    }
    .fkn-banners .wide{
        width: 150%;
    }
    .wide{
        flex-wrap: wrap;
    }
    .big-banner{
        flex-wrap: wrap;
        width: 99%;
    }
    .big-banner img{
        background-image: url('./assets/Macbook 1.png');
    }
}

/* Large (lg) - من 992px لحد أقل من 1200px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .disable-lg { display: none; }
}

/* Extra Large (xl) - من 1200px لحد أقل من 1400px */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .disable-xl { display: none; }
}

/* Extra Extra Large (xxl) - 1400px وطالع */
@media (min-width: 1400px) {
  .disable-xxl { display: none; }
}