@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 40px;
    width: 100%;
    margin: auto;
}

header .header-nav ul{
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
header .header-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
}
header .header-nav ul li .selected{
    color: inherit
}
header .header-nav .icons ul li a img {
    align-self: center;
    width: 20px;
    height: auto;
}
header .header-nav .icons ul li a .user{
        width: 17px;
}

header .header-nav .search-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .header-nav .search-bar input[type="text"]{
    height: 56px;
    min-width: 372px;
    background-image: url("../assets/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    outline: none;
    border: 0px solid !important;
    background-color: #F5F5F5;
    border-radius: 8px;
}

header .header{
    width: 100%;
    min-height: 672px;
    position: relative;
    background-image: linear-gradient(to bottom right, #211C24, #211C24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header .product-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}

header .header .product-content span, p{
    color: #ffffff93;
    font-size: 20px;
    font-weight: 500;
}
header .header .product-content h1{
    color: white;
    font-size: 96px;
    font-weight: 100;
}

header .header .product-image{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}
header .header .product-image img{
    height: 632px;
    width: auto;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    width: 100%;
}

section .content{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
section .content .txt{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;
}
section .content img{
    width: 360px;
}
section .content h1{
    color: #000;
    font-size: 49px;
    font-weight: 400;
}
section .content p{
    color: #909090;
}